.element {
  background-color: navy;
  border-radius: 4px;
  height: 50px;
  margin-bottom: 20px;
  color: white;
  display: grid;
  place-items: center;
}

#element1 {
  width: 200px;
}

#element2 {
  background-color: darkgreen;
  width: 150px;
}
